<header class="main-header">
  <nav class="header-nav">
    <ul>
      <li><a href="/">Shop</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/admin/add-product">Add Product</a></li>
      <li><a href="/admin/products">Admin Products</a></li>
      <li><a href="/orders">Orders</a></li>
    </ul>
  </nav>
</header>
