<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/NotFound.css" />
</head>
<body>
    <%- include('includes/navbar.ejs') %>
    <main>
      <h1 class="error-msg">Page not found 404</h1>
    </main>
    <%- include('includes/footer.ejs') %>
