<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/NotFound.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="header-nav">
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="error-msg">Page not found 404</h1>
    </main>
  </body>
</html>
