<%- include('../includes/header.ejs') %>
</head>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <main>
      <h2>This is Checkout page</h2>
    </main>
    <%- include('../includes/footer.ejs') %>